.timeblockcontainer {
    border-bottom: 1px solid black;
}

.dropContainer {
    padding-top: 10px;
    padding-bottom: 5px;
    width: 100%;
    &__timeCon {
        // background-color: red;
        width: 200px;
    }
}


